@import "./settings";

.component {
  background-image: url("~@/assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;

  .card {
    border: 0;
  }

  .card-body {
    padding: 0;

    .table {
      th {
        border-top: 0;
      }
    }
  }

  .card-form {
    background: $grey-light;
  }

  .card-match {
    opacity: 0.9;
  }

  .card-text {
    background: $blue;
    color: $white;
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
  }

  .content {
    margin-bottom: 3em;
    margin-top: 3em;
  }

  .form {
    background: $grey-light;
    padding: 1em 2em;
  }

  .row-style {
    width: 50%;
  }

  .title-backgroud {
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #23406b77
  }

  .title-page {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
  }

  .calendar-backgroud{
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #23406b77
  }

}
