
.date {
  font-size: 13px;
  position: absolute;
  right: 2px;
}

.title{
  font-size: 16px;
}

@media only screen and (min-width: 812px) {
  .date {
    font-size: 15px;
    position: absolute;
    right: 10px;
  }
}

@media only screen and (min-width: 812px) {
  .title {
    font-size: 20px;
  }
}

.first{
  margin-bottom: 50px;
}

@media only screen and (min-width: 812px) {
  .first{
    margin-bottom: 0px;
  }
}

.match {
  margin-left: 100px
}
