@import "../../styles/settings";

.img-carousel {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.first {
  margin-bottom: 30px;
}

.title-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  .date {
    font-size: 12px;
  }
  .title {
    font-size: 17px;
  }
}

@media only screen and (min-width: 900px) {
  .title-date {
    display: block;
    .date {
      font-size: 15px;
      position: absolute;
      right: 10px;
    }
    .title {
      font-size: 20px;
    }
  }
}
