.players {
  display: none;
}

@media only screen and (min-width: 400px) {
  .players {
    display: block;
    font-size: 12px;
  }
}

@media only screen and (min-width: 850px) {
  .players {
    display: block;
    font-size: 17px;
  }
}

.statistic {
  background-image: url("/assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.inLine {
  display: inline-block;
}
.data {
  background-color: rgba(56, 0, 60, 0.5);
  text-align: left;
}

.risultato {
  color: white;
  height: 100%;
  background-color: rgb(56, 0, 60);
  font-size: 20px;
  white-space: nowrap;
  text-align: center;
  margin: 0 auto;
}
@media only screen and (min-width: 812px) {
  .risultato {
    color: white;
    height: 100%;
    background-color: rgb(56, 0, 60);
    font-size: 30px;
    white-space: nowrap;
  }
}

.father {
  background-color: rgba(56, 0, 60, 0.5);
  text-align: center;
}
.vl {
  border-left: 1px dotted white;
  height: 100%;
  position: absolute;
  left: 50%;
}
.card {
  opacity: 0.9;
}
.card-body {
  padding: 0px;
}
.table {
  margin-bottom: 0px;
}
.table th {
  border-top: 0px;
}
.progress {
  background-color: rgb(77, 77, 247);
}
.bg-primary {
  background-color: rgb(231, 77, 77) !important;
}

.icon {
  width: auto;
  height: 8px;
}
@media only screen and (min-width: 812px) {
  .icon {
    width: auto;
    height: 13px;
  }
}

.icon2 {
  width: auto;
  height: 13px;
}

@media only screen and (min-width: 812px) {
  .icon2 {
    width: auto;
    height: 20px;
  }
}

.detail-row {
  color: white;
  opacity: 0.8;
  font-size: 8px;
}
@media only screen and (min-width: 812px) {
  .detail-row {
    color: white;
    opacity: 0.8;
    font-size: 13px;
  }
}

.blinking {
  animation: blinkingText 1.2s infinite;
}
@keyframes blinkingText {
  0% {
    color: white;
  }
  50% {
    color: transparent;
  }
  100% {
    color: white;
  }
}

.score {
  padding-left: 0;
  padding-right: 0;
}

.gol {
  font-size: 10px;
  color: white;
}

@media only screen and (min-width: 812px) {
  .gol {
    font-size: 15px;
    color: white;
  }
}

.statistic-detail{
  font-size: 13px;
  .progress{
    height: 7px;
    margin-top :0.3em
  }
}

@media only screen and (min-width: 812px) {
  .statistic-detail{
    font-size: 15px;
    .progress{
      height: 10px;
      margin-top :0.3em
    }
  }
}
