pre {
    white-space: pre-line;
}

form {
    background: #efefef;
    padding: 2rem 2rem 1rem;
}

.loading {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: black;
    padding: 50px;
    margin-top: 50px;

    span {
        color: white;
        display: block;
    }
}